src/main/mule/customer-api-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="customer-api-raml-httpListenerConfig">
        <http:listener-connection host="localhost" port="8081" />
    </http:listener-config>
    <apikit:config name="customer-api-raml-config" api="customer-api-raml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-api-raml-main">
        <http:listener config-ref="customer-api-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-api-raml-config" />
        <error-handler ref="globalerrorError_Handler_apikit">
            
        </error-handler>
    </flow>
    <flow name="customer-api-raml-console">
        <http:listener config-ref="customer-api-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-api-raml-config" />
		<error-handler ref="globalerrorError_Handler_apikit" />
    </flow>
    <flow name="post:\registrations:application\json:customer-api-raml-config">
        <ee:transform doc:name="Initialize request data Transform Message" doc:id="e16eaf5a-293c-4859-914f-6c0540b9b020">
            <ee:message>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="requestData" ><![CDATA[%dw 2.0
output application/java
---
{
	payload: message.payload default "",
	queryParams: message.attributes.queryParams default "",
	uriParams: message.attributes.uriParams default "",
	headers: message.attributes.headers default ""
}]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="StartLogger" doc:id="6958812d-c7e4-4977-ad61-110117fc0368" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	transactionId:vars.requestData.headers.'transactionid',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: &quot;Customer Registration&quot;,&#10;	Category: &quot;Customer&quot;,&#10;	DestinationApplication: &quot;Salesforce&quot;,&#10;	txnstate: &quot;START&quot;	&#10;}]"/>
		<flow-ref doc:name="Flow Reference" doc:id="21a0ba57-2e02-47e4-a1db-934b379525de" name="post-customer-implSub_Flow"/>
		<logger level="INFO" doc:name="EndLogger" doc:id="2a0b5c4f-c03f-4543-ba4b-9894e802f864" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	transactionId:vars.requestData.headers.'transactionid',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: &quot;Customer Registration&quot;,&#10;	Category: &quot;Customer&quot;,&#10;	DestinationApplication: &quot;Salesforce&quot;,&#10;	txnstate: &quot;END&quot;	&#10;}]"/>
    </flow>
</mule>
